Django==3.2.5
django-allauth==0.45.0
django-celery-beat==2.2.1
django-ckeditor==6.1.0
django-crispy==1.8.1
Pillow==8.3.0
python-crontab==2.5.1
python-dateutil==2.8.1
requests==2.25.1
TelegramBotAPI==0.3.2
